<h2>Hi <%= @user.name %></h2>

<p>
  This email is to inform you that your membership at BTTC
  has expired effectively today <%= DateTime.now.strftime('%A, %B %d') %>.
  To renew, please follow the following steps:
</p>
<ul>
  <li>Test step 1</li>
  <li>Test step 2</li>
  <li>Test step 3</li>
</ul>


<h1>Thank You!</h1>
