<div class="text-center">

  <h1>Broward Table Tennis Club</h1>
  <h5>Registered 501 (C-3) Non Profit</h5>
  <p>
    <strong>Address:</strong> 3371 N University Dr, Hollywood, FL 33024
  </p>
  <p>
    <strong>Cell 1:</strong> (954) 849 - 5436
    &nbsp;&nbsp; | &nbsp;&nbsp;
    <strong>Cell 2:</strong> (954) 695 - 3218
    &nbsp;&nbsp; | &nbsp;&nbsp;
    <strong>Email:</strong> browardttc@gmail.com
  </p>
</div>

<div id="covid-19-rules-alert" class="alert alert-danger text-center">
    Please click to read and sign BTTC rules for COVID-19 period
</div>

<script>

</script>