<div class="text-center">
  <%= image_tag 'junior-program-1' %>
</div>

<h1 class="text-center">Mission Statement</h1>
<p>To empower the mind and body while molding the lives of our future leaders. Teaching them discipline and focus through the sport of table tennis. To teach respect of people and property, to mold character through fare play and to teach the meaning of giving back, while creating a sense of belonging</p>

<h1 class="text-center">Mission Goal</h1>
<p>
  To take the bullies and make them mentors, teaching them how to take that
  shy kid under their wing not knock them down…To take that shy kid and
  teach them to bond so they can be our leaders…To take the physically
  challenged and teach them they can take and adapt what they have so they
  can do anything they want in life.
</p>

<div class="text-center">
  <%= image_tag 'junior-program-2' %>
</div>

<!--TODO: Add Gallery ->