<div class="container" style="margin-top: 100px">
  <ul class="nav nav-tabs">
    <li class=<%= "active" if @tab == 'reservations' %> >
      <%= link_to 'Table Reservations', admin_dashboard_path(day_id: @day_block.id) %>
    </li>

    <li class=<%= "active" if @tab == 'gallery' %>>
      <a href="#">Gallery</a>
    </li>
  </ul>

  <div class="container" style="margin-top: 20px">

    <% if @tab == 'reservations' %>
      <%= render 'reservations/table_reservations' %>
    <% end %>
  </div>
</div>