
  <div class="row">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Type</th>
          <th>Date</th>
          <th>Time</th>
          <th>Spots Reserved</th>
        </tr>
      </thead>

      <tbody>
        <% @reservations.each do |reservation| %>
          <tr>
            <% date_str = reservation.scheduled_for.strftime('%A, %B %d') %>
            <% time_str = reservation.scheduled_for.strftime('%l:%M %P') %>
            <% type_str = reservation.type_lesson? ? "LESSON" : "PLAY" %>
            <td><%= type_str %></td>
            <td><%= date_str %></td>
            <td><%= time_str %></td>
            <td><%= reservation.party_size || 1 %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>


  <style>
    .table-striped>tbody>tr:nth-child(odd)>td,
    .table-striped>tbody>tr:nth-child(odd)>th {
      background-color: #c9c9c9;
    }
  </style>