
<div class="table-wrapper-scroll-y my-custom-scrollbar">
  <%= render partial: 'coach' %>
  <%= render partial: 'calendar',
             locals: {
                 max_availability: 1,
                 type_lesson: true
             } %>

</div>

<div class="col-sm-2"></div>

<script>
  $(function () {
      $('.time-block').click(function () {
          const date_time = this.getAttribute('data-date_time');

          confirm("Create lesson reservation for " + date_time);

          // console.log(this.serialize());
          $.post('<%= reservations_path %>',
              {
                  date_time: date_time,
                  coach_id: <%= @coach.id %>,
                  type_lesson: 'true',
                  party_size: 1
              }
          );
      });
  });
</script>

