
<div class="table-wrapper-scroll-y my-custom-scrollbar">
  <h1 class="text-center">Reserve a table</h1>
  <%= render partial: 'calendar',
             locals: {
                 max_availability: Rails.application.config.club_max_availability,
                 type_lesson: false
             } %>

  <%= render 'table_reservations' if (current_user.admin_role or current_user.coach_role) %>
</div>
<div class="col-sm-2"></div>

<script>
    $(function () {
        $('.time-block').click(function () {
            const date_time = this.getAttribute('data-date_time');
            window.location = "/reservations/new?date_time="+date_time;
        });
    });
</script>