// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button_to {
  width: 100% !important;
  background: #000;
}

.time-marker {
  background: rgba(17, 48, 48, 0.4) !important;
}

.time-block:hover {
  opacity: .7;
  cursor: pointer;
}

.my-custom-scrollbar {
  position: relative;
  height: 500px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}

.empty {
  background-color: rgba(199, 38, 57, 0.50);
}

.few {
  background-color: rgba(103, 94, 36, 0.50);
}

.many {
  background-color: rgba(46, 127, 24, 0.50);
}

.calendar-container {
  margin-top: 100px;
}

th, td {
  text-align: center;
  border: 3px solid black;
}

//.table {
//  margin: 100px;
//}
//.table td.fit,
//.table th.fit {
//  white-space: nowrap;
//  width: 1%;
//}